body{
  background-image: url(images/FasterFeatherAlbumCoverart.png);
  background-size: 100%;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.banner{
  background-image: url(images/Phyllocrania\ paradoxa.png);
  text-align: center;
  color: wheat;
  margin-top: 0%;
}

canvas{
  background-color: black;  
  color: white;
}

.title{
  color: wheat;
  text-align: center;
  background-color: black;
  margin-top: 0%;
}

.txtBox{
  color: purple;
  text-align: center;
  font-size: 20spx;
  font-family: monospace;
  background-color: white;
  
}